MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=demo3
MYSQL_USER=demo
MYSQL_PASSWORD=change_me_demo
SPRING_DATASOURCE_URL=jdbc:mysql://demo3-mysql:3306/demo3?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Tokyo
SPRING_DATASOURCE_USERNAME=demo
SPRING_DATASOURCE_PASSWORD=change_me_demo
