<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規商品登録</title>
</head>
<body>
<h1>新規商品登録</h1>
<form th:action="@{/products/new}" method="post">
    <p>
        商品名：
            <input type="text" name="name" required>
    </p>
    <p>
        初期在庫：
            <input type="number" name="stock" min="0" required>
    </p>
    <p>
        原価：
            <input type="number" name="costPrice" required>
    </p>
    <p>
        売価：
            <input type="number" name="salePrice" required>
    </p>

    <button type="submit">登録</button>
</form>
</body>

</html>